.main {
    width: 100%;
    height: 100vh;
  }

.fondo{
  background-image: url('../../assets/img/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
}

.title {
  font-size: 160px;
}