
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'gameOfThrone';
}

code {
  font-family: 'gameOfThrone';
}

.link {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.main {
  height: 90%;
}